@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

$font: "Open Sans", sans-serif;
$header-font: "Open Sans", sans-serif;
$font-size: 18px;

$default-color: #423F38;
$header-color: #37352F;

$width: 800px;

html, body, button, input, textarea, select {
	font-family: $font;
	font-size: $font-size;
	color: $default-color;
}

html {
	font-size: 62.5%;
}

body {
	font: $font-size $font;
	margin: 0;
	padding: 0;
}

.clearfix {
	&:before, &:after {
		content: "";
		display: block;
	}

	&:after {
		clear: both;
	}
}

header {
	max-width: $width;
	margin: 20px auto;
	padding: 0 8px;

	h1 {
		font: 300 30px $header-font;
		color: $header-color;
		text-transform: uppercase;
	}

	@media (max-width: 600px) {
		text-align: center;
	}
}

main {
	display: block;
	max-width: $width;
	margin: 0 auto;
	padding: 0 8px;

	section#new_word {
		@extend .clearfix;

		div {
			position: relative;
			float: left;
			width: 83%;
			background: url(/img/showWord.png) -9999px -9999px no-repeat;

			img {
				position: absolute;
				top: 0;
				right: 0;
				width: 46px;
				height: 46px;
				cursor: pointer;
			}
		}

		input, button {
			margin: 0;
			padding: 10px 12px;
			outline: none;
			border-radius: 0;
			-webkit-appearance: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		input {
			width: 100%;
			border: 1px solid #CCC;
			padding-right: 46px;

			&:hover {
				border-color: #AFAFAF;
			}

			&:focus, &:active {
				border-color: #747474;
			}
		}

		button {
			float: right;
			width: 16%;
			background: #00D800;
			border: 1px solid #00B100;
			cursor: pointer;

			&:hover {
				border-color: #009D00;
			}

			&:focus {
				border-color: #008900;
			}

			&:active {
				background: #00C400;
			}
		}

		@media (max-width: 600px) {
			div, button {
				float: none;
				width: 100%;
			}

			button {
				margin-top: 5px;
			}
		}
	}
}